
<div style='margin-left: auto; margin-right: auto; margin-top: 80px; width:300px;'>
  <form name="input" action="/game" method="post">
  player1: <input type="text" name="player1">
  player2: <input type="text" name="player2">
  <input type="submit" value="Submit">
  </form>
</div>
