<div class="container">
  <h1>Welcome to Ruby Racer!</h1>




  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class = "tunnel"></td>
      <td class = "tunnel">T</td>
      <td class = "tunnel">U</td>
      <td class = "tunnel">N</td>
      <td class = "tunnel">N</td>
      <td class = "tunnel">E</td>
      <td class = "tunnel">L</td>
      <td class = "tunnel"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class = "tunnel"></td>
      <td class = "tunnel">T</td>
      <td class = "tunnel">U</td>
      <td class = "tunnel">N</td>
      <td class = "tunnel">N</td>
      <td class = "tunnel">E</td>
      <td class = "tunnel">L</td>
      <td class = "tunnel"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
